<div class="row">
  <div class="col-md-8 offset-md-1 align-self-center">
    {{#each sampleReleaseNote.applications}}
    <span class="badge badge__app">{{this}}</span> 
    {{/each}}
  </div>
  <div class="col-md-2 text-right">
    <button type="button" class="btn btn-outline-primary btn--whiteFill" id="addNote">{{buttonText_addNote}} <i class="fa fa-plus-circle"></i></button>
  </div>
</div>