<div class="row">
  <div class="col-md-8 offset-md-1 align-self-center">
    <span class="badge badge__app">Desktop Client</span> 
    <span class="badge badge__app">Home</span>
  </div>
  <div class="col-md-2 text-right">
    <button type="button" class="btn btn-outline-primary btn--whiteFill" id="addNote">Add Note <i class="fa fa-plus-circle"></i></button>
  </div>
</div>