  <!-- Remove This - For demo purposes only. Navigation through the app will be facilitated by action buttons above. -->
  <br /><br />
  <div class="row">
    <div class="col-sm-11 text-right">
      <a href="item.html" class="btn btn-outline-primary">{{buttonText_goToReleaseNotes}} <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- End Remove This -->