<div class="row">
  <div class="col-lg-1 align-self-center">
    <span class="badge badge__status--unpublished" id="releaseNoteStatus">Unpublished</span>
  </div>
  <div class="col-lg-10">
    <h2 id="releaseNoteTitle">Release Note Title</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 offset-lg-1 align-self-center"><span id="releaseNoteVersion">v.Something</span></div>
  <div class="col-lg-2 align-self-center"><span id="releaseNoteDate">25 December 2020</span></div>
  <div class="col-lg-7 text-right">
    <a href="release.html" class="btn btn-secondary btn--caps">Cancel</a>
    <button type="button" class="btn btn-secondary btn--caps">Edit</button>
    
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn--caps">Save</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Create</a>
        <a class="dropdown-item" href="#">Update</a>
        <a class="dropdown-item" href="#">Delete</a>
        <a class="dropdown-item" href="#">Archive</a>
        <a class="dropdown-item" href="#">Preview</a>
        <a class="dropdown-item" href="#">Publish</a>
        <a class="dropdown-item" href="#">Save</a>
        <a class="dropdown-item" href="#">Un-publish</a>
      </div>
    </div>
  </div>
</div>